<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--End to end EIP tracking api information-->
    <!--<add key="AzureEndPoint" value="https://e2epreproddbaccount.documents.azure.com:443/"/>
    <add key="ApiEndPoint" value="https://epsendtoendtrackingppeapi.azurewebsites.net/api/GetMaster"/>
    <add key="ApiGetDetails" value="https://epsendtoendtrackingppeapi.azurewebsites.net/api/GetDetail"/>
    <add key="DatabaseName" value="e2epreproddocdb"/>-->
    
    <!--BizTrack Tracking api information-->
    <!-- Use this flag to decide if source is BizTrack -->
    <!--<add key="FileSource" value="BizTrack" />-->
    <add key="Upn" value="arvindch@microsoft.com" />
    <add key="BaseAddressBiztrackApi" value="https://epstrackingbiztrackprodapi.azurewebsites.net/" />
    <add key="RelativeAddressResourceMaster" value="api/Track/Master" />
    <add key="RelativeAddressDetail" value="api/Track/Detail?MasterID=" />
    
    <!--BizTrack auth information-->
    <add key="ITAuthRbacResourceUri" value="1c5576ed-1bd8-495c-a9ee-a9e4d0362206" />
    <add key="TrackingService/ClientId" value="e810220b-4edf-47b7-bac0-02e81093e552" />
    <add key="TrackingService/ClientSecret" value="5IomaMQylLn4ulOf1/BovkRTMElgCbsbDeFVGI8gUCI="/>
    <!--<add key="TrackingService/ClientSecret" value="[Thumbprint:32DECDF51E82A461BC3B6E5EEA9D8077E65CA25C]MIIBwQYJKoZIhvcNAQcDoIIBsjCCAa4CAQAxggFJMIIBRQIBADAtMBkxFzAVBgNVBAMTDkFJU0VuY3J5cHRDZXJ0AhB5QM6JteezmEJOCwQt4m4RMA0GCSqGSIb3DQEBBzAABIIBAEZT/k8oqm2xXhPrpmzMIJAAijnm529TMI+FP3+7mbfLqxiXHS6scH0QL/o03mmOaKsOKAAqWqq90qgFDQX4jIAyLq+F40pttmoLYmvKn5pUKxU6Tla5EWM40kopG8LUNygl47qnxGHbvpqx5mMS43TkGBHe42Q2vNfXVcKCDipFShgS5joa3dNGM1GSFzmOgSSHFjec+gCFO+dXAiWF3tCV9EjEYlgo2nO8XA/SwCUvS1+x5opKu/LbQEFF/UA7JA5SPZ4AwXwc2Clle8nBdzE1SQbrWtBD6A9xdAqiyiiJPkWA30GyOdHd1QpaERir3mfNBkewu9vienfZ7i6mvs8wXAYJKoZIhvcNAQcBMB0GCWCGSAFlAwQBKgQQOV3tnPLmRkZSRA/27aPivoAwUi2yJyYSrJO6MZK2ky7iJ/0N25lIR/nq7vvAv5cN+K0IKhn1VpcMqiPyHV3C3qwL" />-->
    <add key="AADUri" value="https://login.windows.net/microsoft.onmicrosoft.com" />
    
    <!-- Use this flag to decide if source is Fileshare -->
    <add key="FileSource" value="Fileshare" />
    <add key="FileSourceExpected" value="C:\Users\visukuma\Desktop\TestSplitFiles\810\CDW\BizTalkOutput"/><!--BizTalkOutput-->
    <add key="FileSourceActual" value="C:\Users\visukuma\Desktop\TestSplitFiles\810\CDW\In"/><!--Input-->

    <!-- Use this flag to decide if source is Blob -->
    <!--<add key="FileSource" value="Blob" />
    <add key="FileSourceExpected" value="https%3A%2F%2Faisv2storagedev.blob.core.windows.net%2Ffilesourceexpected%3Fsv%3D2015-12-11%26si%3Dfileread%26sr%3Dc%26sig%3DIHLYivEs7x9hbN8BGAU9nki0jIYjIXlVZtN3h9XqXfc%253D"/>
    <add key="FileSourceActual" value="https%3A%2F%2Faisv2storagedev.blob.core.windows.net%2Ffilesourceactual%3Fsv%3D2015-12-11%26si%3Dfileread%26sr%3Dc%26sig%3Ds%252BL5Rt1RWUSt3o45dnkZ%252F94d8lWRN1zTNEb9raB04fU%253D"/>-->

    <!--Testsuite source location-->
    <!--<add key="ABTestSuiteBlobContainerSASToken" value="https%3A%2F%2Faisv2storagedev.blob.core.windows.net%2Fpublishertestsuite%3Fsv%3D2017-04-17%26si%3Dreadpolicy%26sr%3Dc%26sig%3Db0J8MnIuEiRPTIvKVT2TejRtb%252FWVXwctPiMR76kxllY%253D" />-->
    <add key="ABTestSuiteBlobContainerSASToken" value="https%3A%2F%2Faisv2storagedev.blob.core.windows.net%2Fcdw-inv-testsuite%3Fst%3D2017-01-29T11%253A00%253A00Z%26se%3D2022-01-30T11%253A00%253A00Z%26sp%3Drwdl%26sv%3D2017-04-17%26sr%3Dc%26sig%3DbAgGzQsuXuO%252B%252BN%252FSGa%252BiTucznaoAyMAu4SqNCxCLmo0%253D" />
    <!--Format types allowed are String, Stream in Publishers writing to Blob, File or LA-->
    <add key="ContentType" value="Stream"/>
    
    <!--Telemetry client information--> 
    <add key="IntegrationAccountCallbackUrl" value="https%3a%2f%2fprod-29.southcentralus.logic.azure.com%3a443%2fintegrationAccounts%2fd6e3afbe53ce481db9b6ce959b8e8f07%3fapi-version%3d2015-08-01-preview%26sp%3d%252F%252F%252A%26sv%3d1.0%26sig%3duT8CB98a4H-7wSxI-uK7wDxUYPa5t3lQ8T_Faj33dog" />
    <add key="ApplicationLoggingLevel" value="Verbose" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\temp\myListener.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.14" newVersion="3.16.0.14" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.14" newVersion="3.16.0.14" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
